@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

body {
    background: #fbf9f3;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header__title {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    color: #524f4e;
    font-size: 40px;
    /*font-weight: 300;*/
    text-align: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /*text-align: center;
    width: auto;*/
    margin: 40px 30px;
}

@media screen and (max-width: 400px) {
    .wrapper {
        justify-content: center;
    }
    div {
        width: 80%;
    }
}

.wrapper__input button {
    width: 180px;
    height: 45px;
    font-size: 30px;
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #3ba776 inset, 0 0 0 0 #3ba776;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
}

.wrapper__input button:hover {
    box-shadow: 0 0 10px 0 #6ab1d7 inset, 0 0 10px 4px #3ba776;
    color: #3ba776;
}


.wrapper__input {
    background: #35495e;
    border-radius: 10px;
    text-align: left;
    margin: 20px 0;
}

.wrapper__input input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #fbf9f3;
    color: #474f3f;
}

.wrapper__input button {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    height: 55px;
    font-size: 18px;
    cursor: pointer;
}


div {
    margin: 5px;
    padding: 5px;
    border: 1px dotted white;
}

.wrapper__table {
    display: table;
    font-size: 14px;
    text-align: center;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0 0 0 10px #f0f197;
    color: #452F21;
    background: #fdff5b;
}

.table__row--header {
    display: table-cell;
    font-family: 'Comfortaa', cursive;
    color: #524f4e;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 8px;
    background: #f0f197;
}


.table__row {
    display: table-row;
    border-bottom: 5px solid  #f0f197;
}


.hidden {
    display: none;
}

.table__cell{
    font-size: 18px;
    display: table-cell;
    padding: 10px 8px;
    background: #fbf9f3;
}

.footer__copyright {
    margin: 30px auto;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
    color: #524f4e;
}

.opacity
{
  opacity: .8;
}
